.event-Second-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.event-Second-container a {
  text-decoration: none;
}
.event-bangalore-main-container {
  cursor: pointer;
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
  .event-Second-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .event-Second-container {
    /* display: grid;
            grid-template-columns:  100%; */
    display: none;
  }
  .event-bangalore-main-container {
    display: none;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .event-Second-container {
    /* display: grid;
            grid-template-columns: 50% 50%;
            */
    display: none;
  }
  .event-bangalore-main-container {
    display: none;
  }
}
