.Eventleft-main-container {
  width: 100%;
  overflow: scroll;
  height: 100vh;
}

.Eventleft-main-container::-webkit-scrollbar{
  display: none;
}

.eventleft-first-image-container{
  position: relative;
  margin: 20px 20px 0px 0px;
  cursor: pointer;
}

.eventleft-first-image-container::before{
  width: 100%;
  height: 500px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  padding: 1.2px;
  background: linear-gradient(
    127.29deg,
    #8338ec -4.57%,
    #f64f59 30.47%,
    #c471ed 61.19%,
    #f5af19 94.53%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  
}

.eventLeft-back-section{
  position: absolute;
  top:20px;
  left:20px;
  padding: 6px 6px ;
  gap: 16px;
  border-radius: 30px ;
  border: 1px  solid #F64F59;
  opacity: 0px;
  background-color: rgb(64, 63, 63);
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.eventleft-first-image {
  width: 100%;
  height: 500px;
  /* padding: 15px; */
  border-radius: 20px;
}

 

.event-left-details-container,
.eventLeft-MenuDetails-container {
  width: 100%;
  padding: 15px;
}

.event-left-details-container h1,
.eventLeft-MenuDetails-container h1 {
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  letter-spacing: -0.3700000047683716px;
  text-align: left;
  background: linear-gradient(90.92deg, #f7f6fe 4.39%, #bf99f5 68.87%);
  background-clip: text;
  color: transparent;
}

.eventLeft-MenuDetails-container ul li,
.event-left-details-container ul li {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-align: justified;
  /* background: #FFFFFF;
    background-clip: text;
    color:transparent */
  color: white;
  margin-left: 5%;

  
  
    
}

.eventLeft-MenuDetails-container ul li span,
.event-left-details-container ul li span {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  /* letter-spacing: -0.5px; */
  text-align: justified;
}

.eventLeft-scanner-container .eventlef-scanner-image {
  /* width: 624px;
  height: 628px; */
  width: 100%;
  height: 450px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
   
}

.eventleft-terms-container,
.eventleft-cancel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 15px;
  
}

.eventleft-terms-container h3,
.eventleft-cancel-container h3 {
  background: linear-gradient(90.92deg, #f7f6fe 4.39%, #bf99f5 68.87%);
  background-clip: text;
  color: transparent;

  cursor: pointer;

  font-family: Open Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  letter-spacing: -0.3700000047683716px;
  text-align: left;
}

.eventleft-terms-container .eventleft-logo,
.eventleft-cancel-container .eventleft-logo {
  color: white;
  width: 25px;
 height: 17.5px;
 cursor: pointer;
 

}

.eventLeft-scanner-container{
  width: 90%;
  margin: auto;
}

@media screen and (min-width:1000px) and (max-width:1350px) {
  .eventleft-first-image-container::before{
    height: 400px;
  }
  .eventleft-first-image{
    height: 400px;
  }

  .eventlef-scanner-image{
  height: 350px;

  }
}


@media screen and (min-width:750px) and (max-width:1000px) 
{
  .eventleft-first-image-container::before{
    height: 300px;
  }
  .eventleft-first-image{
    height: 300px;
  }

  .eventLeft-scanner-container.eventlef-scanner-image{
  height: 250px;

  }
}


@media screen and (min-width:601px) and (max-width:750px) 
{
  .eventleft-first-image-container::before{
    height: 300px;
  }
  .eventleft-first-image{
    height: 300px;
  }

  .eventlef-scanner-image{
  height: 250px;

  }
}

@media only  screen  and (min-width:360px) and  (max-width:600px)  {
  .eventleft-first-image {
    width: 100%;
    height: 196px;
    border-radius: 20px;
  }

  .eventleft-first-image-container::before{
    height: 196px;

  }
  
  .eventLeft-back-section{
    padding: 2px 2px ;

  }

  .event-exit-left-image{
    width: 12px;
    height: 12px;
  }

  .event-left-details-container h1,
.eventLeft-MenuDetails-container h1{
  font-size: 18px;
}

.eventLeft-MenuDetails-container ul li,
.event-left-details-container ul li{
  font-size: 14px;
}

.eventLeft-MenuDetails-container ul li span,
.event-left-details-container ul li span {
  font-size: 14px;
}

.eventLeft-scanner-container .eventlef-scanner-image {
  height: 196px;

}

.eventleft-terms-container h3,
.eventleft-cancel-container h3{
  font-size: 20px;
}

.eventleft-terms-container .eventleft-logo,
.eventleft-cancel-container .eventleft-logo{
  width: 10px;
  height: 10px;
   
}
.Eventleft-main-container {
  width: 100%;
  overflow:auto;
  
}

 
}
