.footernavbar-main-container{
display: flex; 
justify-content: space-around;
height: Hug (58px)px;
padding: 8px 24px 8px 24px;
gap: 8px;
border: 1px  ;
opacity: 0px;
border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90.27deg,
    rgba(245, 175, 25, 0.5) 13.92%,
    rgba(241, 39, 17, 0.5) 37.19%,
    rgba(131, 56, 236, 0.5) 66.47%
  );
  margin-top: 50px;
  width: 100%;
  

}

.footernavbar-main-container h2{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 16.2px;
letter-spacing: -0.5px;
text-align: center;
background: #E3DEFC;
background-clip: text;
color:transparent;
}

.footer-home-conatiner,
.footer-Notification-conatiner,
.footer-MyBooking-conatiner,
.footer-Profile-conatiner{
    display: inline-block;
    text-align: center;
}

.footer-navbar-icon{
    color:white
}
