.Home-main-container{
    margin:0px 6% ;
    z-index: 1;
}

@media screen  and (min-width:360px) and (max-width:600px){
    .Home-main-container{
        margin:0px 2% 0px 2% ;
        z-index: 1;
    }
}