.slider-main-container {
  margin-top: 2%;
  z-index: 1;
}

.ticket-carousel-image {
  width: 100%;
  height: 410px;
  border-radius: 10px;
}

.react-multi-carousel-dot-list {
  position: absolute;
  top: 480px;
  cursor: pointer;
  font-size: 2px;
}

.custom-dot-list-style {
  margin-top: 20px;
}

.custom-dot {
  width: 14px;
  height: 14px;
  background-color: #eee9e9;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  border: 2px solid transparent;
  background-clip: padding-box;
  cursor: pointer;
}

/* .custom-dot::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  background: linear-gradient(
    127.29deg,
    #8338ec -4.57%,
    #f64f59 30.47%,
    #f5af19 72.22%,
    #c471ed 102.35%
  );

  z-index: -1;
} */

.custom-dot.active {
   background:rgb(98, 46, 243);
}
@media only screen and (min-width: 601px) and (max-width: 845px) {
  .ticket-carousel-image {
    width: 100%;
    height: 280px;
    border-radius: 8px;
  }

  .react-multi-carousel-dot-list {
    top: 340px;
  }

  .custom-dot {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  .slider-main-container {
    margin-bottom: 15px;
  }

  
  .ticket-carousel-image {
    width: 100%;
    height: 127px;
      
}

/* .mobile-carosel-divider{
  border: 4px solid rgb(252, 229, 164);
  position: relative;
  width: 100%;
  height: 127px;
  border-radius: 8px;
} */

  .react-multi-carousel-dot-list {
    top: 200px;
  }

  .custom-dot {
    width: 10px;
    height: 10px;
  }
}
