.Featured-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}
.Featured-top-container h2 {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.37382352352142334px;
  background: linear-gradient(90.92deg, #f7f6fe 4.39%, #bf99f5 68.87%);
  background-clip: text;
  color: transparent;
}
.Featured-top-container p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 601;
  line-height: 20.8px;
  letter-spacing: -0.3700000047683716px;
  background: linear-gradient(90.92deg, #f7f6fe 4.39%, #bf99f5 68.87%);
  background-clip: text;
  color: transparent;
}

.Featured-bottom-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 20px auto;
}

.Featured-bottom-container li {
  font-size: 16px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 196px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  display: inline-block;
  border-radius: 50px;
  border: 1px solid transparent;
  position: relative;
  color: white;
  cursor: pointer;
}

.Featured-bottom-container li::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  padding: 1.5px;
  background: linear-gradient(
    127.29deg,
    #8338ec -4.57%,
    #f64f59 30.47%,
    #c471ed 61.19%,
    #f5af19 94.53%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  box-shadow: 0px 2px 2px 0px #e1dcfaa8;
}

.Featured-bottom-container li:hover {
  box-shadow: 0px 2px 21px 0px #e1dcfaa8;
}

.Featured-mobile-bottom-container  {
  display: none;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .Featured-top-container h2 {
    font-size: 30px;
  }

  .Featured-bottom-container li {
    font-size: 14px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  .Featured-top-container h2 {
    font-size: 20px;
  }

  .Featured-top-container p {
    font-size: 10px;
  }
  .Featured-bottom-container{display: none;}

  .Featured-mobile-bottom-container  {
    display: block;
  }

  .Featured-mobile-bottom-container li {
    font-size: 10px;
    padding: 6px 10px 6px 10px;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    gap: 20px;
    border-radius: 196px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid transparent;
    position: relative;
    color: white;
    cursor: pointer;
  }

  .Featured-mobile-bottom-container li::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    padding: 1.5px;
    background: linear-gradient(
      127.29deg,
      #8338ec -4.57%,
      #f64f59 30.47%,
      #c471ed 61.19%,
      #f5af19 94.53%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    box-shadow: 0px 2px 2px 0px #e1dcfaa8;
  }

  .Featured-mobile-bottom-container li:hover {
    box-shadow: 0px 2px 5px 0px #e1dcfaa8;
  }
}
