.Event-main-container {
  padding: 12px;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  position: relative;
}

.Event-main-container a{
  text-decoration: none;
}

.Event-main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 1.2px;
  background: linear-gradient(
    127.29deg,
    #8338ec -4.57%,
    #f64f59 30.47%,
    #c471ed 61.19%,
    #f5af19 94.53%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}

.event-image-container{
  position: relative;
  width: 100%;
}

.event-amount-section {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 217px;
  left: 0px;
  justify-content: space-between;
  padding: 0px, 12px, 0px, 12px;
  background-color: white;
   border-bottom-left-radius:8px ;
   border-bottom-right-radius: 8px;
   color:black;
   
}

 
.event-image {
  width: 100%;
  height: 249px;
  border-radius: 8px;
}

.event-amount-section p {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: -0.37382352352142334px;
  text-align: left;
  margin-left: 2%;
}
.event-amount-section p span {
  font-family: Open Sans;
  font-size: 14.95px;
  font-weight: 700;
  line-height: 20.19px;
  letter-spacing: -0.37382352352142334px;
  text-align: left;
}

.event-djanjessh-section p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 601;
  line-height: 15.6px;
  letter-spacing: -0.37382352352142334px;
  text-align: left;
  background: rgba(227, 222, 252, 1);
  background-clip: text;
  color: transparent;
  margin: 10px auto;
}

 

.Event-titile-container h2 {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 601;
  line-height: 23.4px;
  text-align: left;
  background: rgba(227, 222, 252, 1);
  background-clip: text;
  color: transparent;
}

.event-place-container p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 601;
  line-height: 15.6px;
  letter-spacing: -0.37382352352142334px;
  text-align: left;
  background: rgba(227, 222, 252, 1);
  background-clip: text;
  color: transparent;
  margin: 10px auto;
}

.event-date-container p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 601;
  line-height: 15.6px;
  letter-spacing: -0.37382352352142334px;
  text-align: left;
  background: rgba(227, 222, 252, 1);
  background-clip: text;
  color: transparent;
}

.exit-event-image{
  width: 33.65px;
height: 33.65px;
padding: 1.69px 1.96px 1.96px 1.96px;
gap: 0px;
opacity: 0px;
position: absolute;
top:25px;
right: 30px;
 border: 2px solid rgb(230, 186, 243);
  padding: 8px;
  border-radius: 50px;
  background-color: black;
}
 

 

@media only screen and (min-width: 601px) and (max-width: 1000px) {

  .event-amount-section p {
    font-size: 16px;
  }
  .event-amount-section p span {
    font-size: 14px;
   
}
}

@media screen  and (min-width:360px) and (max-width:600px){
  .Event-main-container {
    width: 95%;
    margin-bottom: 5%;
    margin-top: 5%;
    position: relative;
  }
  
}