.Event-page-main-container{
    display: grid;
    grid-template-columns:  23% 23% 23% 23%;
    column-gap: 2.5%;
   
}
.Event-page-main-container a{
    text-decoration: none;
}
.eventpages-mobile-section{
    display: none;
}

.eventpages-desktop-section{
    display: block;
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
    .Event-page-main-container{
        display: grid;
        grid-template-columns:  30% 30% 30%;
        column-gap: 3.2%;
       
    }
    .eventpages-mobile-section{
        display: none;
    }
    .eventpages-desktop-section{
        display: block;
    }
    
}

 


@media only  screen  and (min-width:360px) and  (max-width:600px)  {
    .Event-page-main-container{
        width: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        margin-bottom: 100px;
       
    }

    .eventpages-mobile-section{
        display: block;
 

    }

    .eventpages-desktop-section{
        display: none;
    }
    
}